<a href="https://colab.research.google.com/github/rahmasifas/phyton_2/blob/main/python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nilai_akhir = 70

if nilai_akhir >= 80:
  print('anda lulus')

In [ ]:
nilai_akhir = 70

if nilai_akhir >= 80:
  print('anda lulus')
else:
  print('anda tidak lulus')

anda tidak lulus

In [ ]:
nilai_akhir = 40

if nilai_akhir >= 90:
  print('Grade A')
elif nilai_akhir >=70 and nilai_akhir <90:
  print('Grade B')
elif nilai_akhir >=60 and nilai_akhir <70:
  print('Grade C')
elif nilai_akhir >=50 and nilai_akhir <60:
  print('Grade D')
else:
  print('Grade E')

Grade E

In [ ]:
nilai_akhir = 90

if nilai_akhir >= 90:
  print('Grade A')
elif nilai_akhir == 90:
  print('Grade B')
else:
  print('Grade C')

Grade A

In [ ]:
listku = ['dian','budi','arif','people 140']
if 'arif' in listku:
  print('org tersebut ada di dalam kelas')
else:
  print('org tersebut tidak ada di dalam kelas')

org tersebut ada di dalam kelas

In [ ]:
listku = ['dian','budi','arif','people 140']
if 'arif ' in listku:
  print('org tersebut ada di dalam kelas')
else:
  print('org tersebut tidak ada di dalam kelas')

org tersebut tidak ada di dalam kelas

In [ ]:
uang = 9998

# pilihan makan
# padang diatas 20k
# soto diantara 15k - 19.999
# batagor 10k - 14.999
# pop ice 5k - 9.999
# tidak makan dan minum

In [ ]:
uang = 4000

if uang >= 20000:
   print("Padang")
elif uang >= 15000 and uang < 20000:
    print("Soto")
elif uang >= 10000 and uang < 15000:
    print("Batagor")
elif uang >= 5000 and uang < 10000:
    print("Pop Ice")

In [ ]:
for i in range(10):
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
i=0
while i < 10:
  print(i)
  i = i + 1
  #True
  #False berhente

2
3
4
5
6
7
8
9

In [ ]:
# for i in range(start,end,step):
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9

In [ ]:
# for i in range(start,end,step):
for i in range(2,10,2):
  print(i)

2
4
6
8

In [ ]:
listku = ['apel','pisang','melon','semangka']

for i in listku:
  print(i)

apel
pisang
melon
semangka

In [ ]:
for i in listku:
    if i == 'pisang':
        print('hore')
    else:
        print('tidak hore')

tidak hore
hore
tidak hore
tidak hore

In [ ]:
numbers=[4,5,10,20,40,60,80]

# ambil element/value >= 10, then masukan ke dalam new_list
new_list = []
for i in numbers:
  if i >= 10:
    print(i)

10
20
40
60
80

In [ ]:
numbers=[4,5,10,20,40,60,80]

# ambil element/value >= 10, then masukan ke dalam new_list
new_list = []
for i in numbers:
  if i >= 10:
    new_list.append(i)
    print(new_list)

print('Akhir : ',new_list)

[10]
[10, 20]
[10, 20, 40]
[10, 20, 40, 60]
[10, 20, 40, 60, 80]
Akhir :  [10, 20, 40, 60, 80]

In [ ]:
new_list

[10, 20, 40, 60, 80]

In [ ]:
students={
    'name':['Marchella','Raisa','Nasri'],
    'age':[18,19,20],
    'hobby':['Golf','Swimming','Cooking']
}
students

for x in students:
  print(x)

name
age
hobby

In [ ]:
students['name']

['Marchella', 'Raisa', 'Nasri']

In [ ]:
for x in students:
  print(students[x])

['Marchella', 'Raisa', 'Nasri']
[18, 19, 20]
['Golf', 'Swimming', 'Cooking']

In [ ]:
students={
    'name':['Marchella','Raisa','Nasri'],
    'age':[18,19,20],
    'hobby':['Golf','Swimming','Cooking']
}

students

{'name': ['Marchella', 'Raisa', 'Nasri'],
 'age': [18, 19, 20],
 'hobby': ['Golf', 'Swimming', 'Cooking']}

In [ ]:
# Tambahkan value 'arif' didalam name
for x in students:
  if x == 'name':
    students[x].append('Arif')

In [ ]:
type(students['name'])

list

In [ ]:
students

{'name': ['Marchella', 'Raisa', 'Nasri', 'Arif'],
 'age': [18, 19, 20],
 'hobby': ['Golf', 'Swimming', 'Cooking']}

In [ ]:
def my_name():
  print('my name is arif')

In [ ]:
my_name()

my name is arif

In [ ]:
# perhitungan rumus 1 : invers matrix, rumus 2 luas bangunan

In [ ]:
def my_name(nama):
  print('my name is :', nama)

In [ ]:
my_name('arif')

my name is : arif

In [ ]:
my_name('aulia')

my name is : aulia

In [ ]:
def my_name(nama, age, status):
  print('my name is :', nama)
  print('my age  is :', age)
  print('my status  is :', status)

In [ ]:
my_name('aulia',17,'double')

my name is : aulia
my age  is : 17
my status  is : double

In [ ]:
my_name(age=17,status='double', nama='aulia')

my name is : aulia
my age  is : 17
my status  is : double

In [ ]:
def my_name(nama, age, status='nikah'):
  print('my name is :', nama)
  print('my age  is :', age)
  print('my status  is :', status)

In [ ]:
my_name('aulia',17)

my name is : aulia
my age  is : 17
my status  is : nikah

In [ ]:
my_name('aulia',17,'double')

my name is : aulia
my age  is : 17
my status  is : double

In [ ]:
nilai_akhir = 70

if nilai_akhir >= 80:
  print('anda lulus')
else:
  print('anda tidak lulus')

anda tidak lulus

In [ ]:
nilai_akhir = 90

if nilai_akhir >= 80:
  print('anda lulus')
else:
  print('anda tidak lulus')

anda lulus

In [ ]:
def check_grade(na):
    if na >= 80:
        print("Anda lulus.")
    else:
        print("Anda tidak lulus.")

In [ ]:
check_grade(70)

Anda tidak lulus.

In [ ]:
check_grade(90)

Anda lulus.

In [ ]:
# check_grade('90')

In [ ]:
def check_grade(na):
    if na >= 80:
        return "Anda lulus."
    else:
        return "Anda tidak lulus."

In [ ]:
hasil_kelulusan = check_grade(90)

In [ ]:
hasil_kelulusan

'Anda lulus.'

In [ ]:
def check_grade(na):
    if na >= 80:
        return "Anda lulus.", 'anda dapat bonus'
    else:
        return "Anda tidak lulus." , 'anda tidak dapat bonus'

In [ ]:
hasil_kelulusan, bonus = check_grade(90)

In [ ]:
hasil_kelulusan

'Anda lulus.'

In [ ]:
bonus

'anda dapat bonus'

In [ ]:
def areacircle(r):
   return 3.14 * r * r

In [ ]:
luas_l_kecil = areacircle(5)
luas_l_kecil

78.5

In [ ]:
luas_l_besar = areacircle(15)
luas_l_besar

706.5

In [ ]:
r = 5
luas_l_kecil = 3.14 * r * r
luas_l_kecil

78.5

In [ ]:
r = 15
luas_l_besar = 3.14 * r * r
luas_l_besar

706.5

In [ ]:
# a dan b
# param a, b, status
status = 'tambah'
return pertambahan

status = 'kali'
return perkalian

status = 'bagi'
return ]